.table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse; 
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #34786b;
	border: 1px solid #dddddd;
    font-size: 25px;
    width: 300px;
}
.table td {
    font-size: 20px;
	border: 1px solid #dddddd;
	padding: 5px;
    text-align: center;
    background-color: #cfe8e3;
}
ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li{
    list-style-type: none;
}
.menu_a{
    margin: 0 50px;
    padding: 25px;
    font-size: inherit;
    line-height: normal;
    text-overflow: ellipsis;
    color: #333;
    position: relative;
    text-decoration: none;
    transition: .3s;
    background-color: transparent;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    line-height: 45px;
    position: relative;
    font-size: 25px;
    cursor: pointer;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: cadetblue;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
    margin: 0;
    padding: 0;
    display: inline-block;
    line-height: 50px;
}
.text {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size: 26px;
    background-color: #efefef;
    padding: 50px;
}
.zag_1{
    text-align: center;
    font-size: 30px;
}
.wrapper{
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}
html {
    background-image: url(/public/Img/krasnokamensk.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.strong{
    background-color: #cfe8e3;
    font-size: 30px;
    text-align: center;
}

